.account-container {
  width: 70vw;
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgb(69, 69, 69);

  p {
    width: 33%;
    margin: 0 10px;
    padding: 0.4rem;
    text-align: left;
  }
}
